# Auto detect text files and perform LF normalization
* text=auto

# Markdown
*.md text eol=lf
*.txt text eol=lf

# Shell scripts
*.sh text eol=lf

# JSON
*.json text eol=lf

# YAML
*.yml text eol=lf
*.yaml text eol=lf

# SVG
*.svg text eol=lf

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary
*.gif binary
